.contacts-page {
  padding: 40px 0 90px;

  @include max-w($sm) {
    padding: 24px 0 40px;
  }

  &__tabs {
    display: flex;
    justify-content: space-between;

    @include max-w($md) {
      flex-direction: column;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    width: 100%;
    margin-right: 20px;

    @include max-w($md) {
      flex-direction: row;
      max-width: 100%;
      margin-right: 0;
      justify-content: center;
      margin-bottom: 30px;
    }

    @include max-w($sm) {
      margin-bottom: 24px;
    }

    @include max-w($xs) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__buttons-item {
    margin-bottom: 16px;

    @include max-w($md) {
      margin-bottom: 0;
      margin-right: 20px;
    }

    @include max-w($xs) {
      margin-right: 0;
      margin-bottom: 12px;
      width: 100%;
    }

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  &__button {
    font-size: 28px;
    font-weight: 700;
    color: $silver;
    @include area;
    transition: color 0.3s ease;

    @include max-w($md) {
      font-size: 22px;
    }

    @include max-w($xs) {
      width: 100%;
    }

    &:hover {
      color: rgba($black-900, 0.65);
    }

    &--active {
      color: $green-900;

      &:hover {
        color: $green-900;
      }
    }
  }

  &__content {
    display: none;
    background-color: #fff;
    max-width: 810px;
    width: 100%;

    @include max-w($md) {
      max-width: 100%;
    }

    &--active {
      display: block;
    }
  }
}

.contact-content {

  &__descr {
    font-size: 20px;
    font-weight: 700;
    color: $black-900;
    margin-bottom: 30px;
    display: inline-block;

    @include max-w($sm) {
      font-size: 18px;
      margin-bottom: 20px;
    }

    @include max-w($xs) {
      font-size: 16px;
    }

    &--accordion {
      margin-bottom: 0;
      max-width: 650px;
    }
  }

  &__text {
    color: $black-700;
  }

  &__connection {
    display: block;
    margin-bottom: 60px;

    @include max-w($md) {
      margin-bottom: 40px;
    }
  }

  &__connection-item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__connection-link {
    display: inline-flex;
    align-items: center;
    @include area;

    svg {
      width: 20px;
      height: 20px;
      fill: $green-900;
      display: block;
      margin-right: 12px;
    }
  }

  &__form {
    width: 100%;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @include max-w($xs) {
      flex-direction: column;
    }
  }

  &__label {
    max-width: 390px;
    width: 100%;
    display: block;
    margin-right: 15px;

    @include max-w($md) {
      max-width: 465px;
    }

    @include max-w($xs) {
      margin-right: 0;
      margin-bottom: 24px;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &__label-descr {
    display: block;
    margin-bottom: 8px;

    @include max-w($sm) {
      font-size: 14px;
    }
  }

  &__input {
    width: 100%;
    height: 52px;
    border-radius: 4px;
    border: 1px solid $silver-100;
    padding: 13px 16px;
    outline: transparent;
    transition: border-color 0.2s ease;

    @include max-w($sm) {
      height: 44px;
      padding: 10px 12px;
      font-size: 14px;
    }

    &:focus {
      border-color: $green-900;
    }

    &:hover {
      &::placeholder {
        color: $black-800;
      }
    }

    &::placeholder {
      color: $silver;
      transition: color 0.2s ease;
    }
  }

  &__textarea-label {
    display: block;
    width: 100%;
    margin-bottom: 40px;

    @include max-w($md) {
      margin-bottom: 24px;
    }
  }

  &__textarea {
    resize: none;
    width: 100%;
    height: 130px;
    border-radius: 4px;
    border: 1px solid $silver-100;
    padding: 13px 16px;
    outline: transparent;
    transition: border-color 0.2s ease;

    @include max-w($sm) {
      font-size: 14px;
      padding: 10px 12px;
    }

    &:focus {
      border-color: $green-900;
    }

    &:hover {
      &::placeholder {
        color: $black-800;
      }
    }

    &::placeholder {
      color: $silver;
      transition: color 0.2s ease;
    }
  }

  &__btn {
    color: #fff;
    background-color: $green-900;
    height: 52px;
    padding: 13px 20px;
    border-radius: 4px;
    transition: opacity 0.3s ease;

    @include max-w($sm) {
      height: 44px;
      padding: 10px 20px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    @include max-w($md) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      grid-gap: unset;
    }

    @include max-w($sm) {
      flex-direction: column;

    }
  }

  &__item {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;

    @include max-w($md) {
      margin: 0 14px 28px 14px;
    }

    @include max-w($sm) {
      width: 100%;
      margin: 0;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__accordions-item {
    margin-bottom: 20px;
    border-bottom: 1px solid $silver-100;

    &:last-child {
      margin-bottom: 0;
      border: none;
    }
  }

  &__accordion-btn {
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    text-align: left;
    padding-right: 25px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 12px;
      width: 20px;
      height: 2px;
      background-color: $green-900;
      transition: transform 0.2s ease;
    }

    &::after {
      transform: rotate(90deg);
    }

    &--active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__accordion-content {
    display: none;
    padding-bottom: 20px;
  }
}