<section class="blog-preview">
  <div class="container">

    <div class="blog-preview__top">
      <h2 class="title">
        Модный блог
      </h2>

      <a class="link" href="blogs.html">
        Просмотреть блоги
      </a>
    </div>

    <div class="blog-preview__items">

      <div class="blog-preview__item">
        <article class="blog-card">
          <a class="blog-card__img_link" href="blog.html">
            <img class="blog-card__img" width="600" src="../../../images/blog/bag.jpg"
              alt="сумка-корзина с хлебом и платкоm">
          </a>

          <div class="blog-card__content">
            <h3 class="blog-card__title">
              <a class="blog-card__title_link" href="blog.html">
                Тенденции сумок на лето 2021
              </a>
            </h3>

            <div class="blog-card__info">
              <a class="blog-card__topic" href="#">
                Мода
              </a>
              <span class="blog-card__date">
                24 августа 2020 года
              </span>
              <a class="blog-card__comments" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#icon-comments"></use>
                </svg>
                Без комментариев
              </a>
            </div>

            <p class="blog-card__text">
              В следующем сезоне весна-лето 2021 особенно востребованы будут плетеные и вязаные сумки, а также модели,
              напоминающие
              рыболовные сети.
            </p>
          </div>
        </article>
      </div>

      <div class="blog-preview__item">
        <article class="blog-card">
          <a class="blog-card__img_link" href="blog.html">
            <img class="blog-card__img" width="600" src="../../../images/blog/sneakers.jpg" alt="кеды конвирс белые">
          </a>

          <div class="blog-card__content">
            <h3 class="blog-card__title">
              <a class="blog-card__title_link" href="blog.html">
                Топ-10 самых популярных кроссовок этого сезона
              </a>
            </h3>

            <div class="blog-card__info">
              <a class="blog-card__topic" href="#">
                Образ жизни
              </a>
              <span class="blog-card__date">
                16 июля 2021 года
              </span>
              <a class="blog-card__comments" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#icon-comments"></use>
                </svg>
                4 комментария
              </a>
            </div>

            <p class="blog-card__text">
              В 2021 году дизайнеры спортивной обуви представили немало новинок. Некоторые из них оказались удачными,
              другие не
              получили особого отклика.
            </p>
          </div>
        </article>
      </div>

    </div>

  </div>
</section>