<div class="breadcrumbs">
  <div class="container">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__link--home" href="index.html">
          <svg>
            <use xlink:href="images/sprite.svg#icon-home"></use>
          </svg>
          <span class="sr-only">Главная страница</span>
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="catalog.html">
          Женщины
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="catalog.html">
          Одежда
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="product.html">
          Базовая толстовка с капюшоном розового цвета
        </a>
      </li>
    </ul>
  </div>
</div>