<footer class="footer">
  <h2 class="sr-only">Подвал сайта</h2>
  <div class="container">

    <div class="footer__top">

      <div class="footer__item">
        <h3 class="footer__item-title">
          помощь
        </h3>

        <ul class="footer__list">
          <li class="footer__list-item">
            <a class="footer__link link-animation" href="#">
              Доставка и возврат
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__link link-animation" href="#">
              FAQ
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__link link-animation" href="#">
              Отслеживать заказ
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__link link-animation" href="#">
              Контакты
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__link link-animation" href="#">
              Блог
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__item">
        <h3 class="footer__item-title">
          Магазин
        </h3>

        <ul class="footer__list">
          <li class="footer__list-item">
            <a class="footer__link link-animation" href="#">
              Новые поступления
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__link link-animation" href="#">
              Сейчас в тренде
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__link link-animation" href="#">
              Продажи
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__link link-animation" href="#">
              Бренды
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__item footer__item--info">
        <h3 class="footer__item-title">
          Связаться
        </h3>

        <div class="footer__item-connection">
          <span class="footer__item-text">
            Вызов:
            <a class="footer__link link-animation" href="tel:4055550128">
              (405) 555-0128
            </a>
          </span>
          <span class="footer__item-text">
            Email:
            <a class="footer__link link-animation" href="mailto:hello@createx.com">
              hello@createx.com
            </a>
          </span>
        </div>

        <ul class="social">
          <li class="social__item">
            <a class="social__link social__link--facebook" target="_blank" href="https://www.facebook.com">
              <svg>
                <use xlink:href="images/sprite.svg#icon-facebook"></use>
              </svg>
              <span class="sr-only">facebook</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--instagram" target="_blank" href="https://www.instagram.com">
              <svg>
                <use xlink:href="images/sprite.svg#icon-instagram"></use>
              </svg>
              <span class="sr-only">instagram</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--twitter" target="_blank" href="https://twitter.com">
              <svg>
                <use xlink:href="images/sprite.svg#icon-twitter"></use>
              </svg>
              <span class="sr-only">twitter</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--youtube" target="_blank" href="https://www.youtube.com">
              <svg>
                <use xlink:href="images/sprite.svg#icon-youtube"></use>
              </svg>
              <span class="sr-only">youtube</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--pinterest" target="_blank" href="https://www.pinterest.ru">
              <svg>
                <use xlink:href="images/sprite.svg#icon-pinterest"></use>
              </svg>
              <span class="sr-only">pinterest</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__item footer__item--apps">
        <h3 class="footer__item-title footer__item-title--apps">
          Скачайте наше приложение
        </h3>

        <div class="footer__item-apps">
          <a class="footer__item-app" target="_blank" href="https://www.apple.com/ru/app-store/"
            style="background-image: url(../../images/apps/app-store.svg);">
            <span class="sr-only">Эпл стор</span>
          </a>
          <a class="footer__item-app" target="_blank" href="https://play.google.com/"
            style="background-image: url(../../images/apps/google-play.svg);">
            <span class="sr-only">гугл плей</span>
          </a>
        </div>
      </div>

    </div>

    <div class="footer__copy">
      <p class="footer__copy-text">
        © Все права защищены. Сделанный с
        <svg>
          <use xlink:href="images/sprite.svg#icon-heart"></use>
        </svg>
        от Createx Studio
      </p>

      <a class="footer__link link-animation" href="#home">
        Перейти к началу
      </a>
    </div>

  </div>
</footer>